// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple T8103 "M1" SoC
 *
 * Other names: H13G, "Tonga"
 *
 * Copyright The Asahi Linux Contributors
 */

#include <dt-bindings/interrupt-controller/apple-aic.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "apple,t8103", "apple,arm-platform";

	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "apple,icestorm";
			device_type = "cpu";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu1: cpu@1 {
			compatible = "apple,icestorm";
			device_type = "cpu";
			reg = <0x0 0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu2: cpu@2 {
			compatible = "apple,icestorm";
			device_type = "cpu";
			reg = <0x0 0x2>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu3: cpu@3 {
			compatible = "apple,icestorm";
			device_type = "cpu";
			reg = <0x0 0x3>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu4: cpu@10100 {
			compatible = "apple,firestorm";
			device_type = "cpu";
			reg = <0x0 0x10100>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu5: cpu@10101 {
			compatible = "apple,firestorm";
			device_type = "cpu";
			reg = <0x0 0x10101>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu6: cpu@10102 {
			compatible = "apple,firestorm";
			device_type = "cpu";
			reg = <0x0 0x10102>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};

		cpu7: cpu@10103 {
			compatible = "apple,firestorm";
			device_type = "cpu";
			reg = <0x0 0x10103>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>; /* To be filled by loader */
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&aic>;
		interrupt-names = "phys", "virt", "hyp-phys", "hyp-virt";
		interrupts = <AIC_FIQ AIC_TMR_GUEST_PHYS IRQ_TYPE_LEVEL_HIGH>,
			     <AIC_FIQ AIC_TMR_GUEST_VIRT IRQ_TYPE_LEVEL_HIGH>,
			     <AIC_FIQ AIC_TMR_HV_PHYS IRQ_TYPE_LEVEL_HIGH>,
			     <AIC_FIQ AIC_TMR_HV_VIRT IRQ_TYPE_LEVEL_HIGH>;
	};

	clk24: clock-24m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "clk24";
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;

		ranges;
		nonposted-mmio;

		serial0: serial@235200000 {
			compatible = "apple,s5l-uart";
			reg = <0x2 0x35200000 0x0 0x1000>;
			reg-io-width = <4>;
			interrupt-parent = <&aic>;
			interrupts = <AIC_IRQ 605 IRQ_TYPE_LEVEL_HIGH>;
			/*
			 * TODO: figure out the clocking properly, there may
			 * be a third selectable clock.
			 */
			clocks = <&clk_uart0>, <&clk_uart0>;
			clock-names = "uart", "clk_uart_baud0";
			status = "disabled";
		};

		aic: interrupt-controller@23b100000 {
			compatible = "apple,t8103-aic", "apple,aic";
			#interrupt-cells = <3>;
			interrupt-controller;
			reg = <0x2 0x3b100000 0x0 0x8000>;
		};

		pmgr0: clock-controller@23b700000 {
			compatible = "syscon", "simple-mfd";
			#address-cells = <1>;
			#size-cells = <0>;

			reg = <0x2 0x3b700000 0x0 0x4000>;

			clk_imx: clock@1b8 {
				clock-output-names = "imx";
				compatible = "apple,t8103-clock-gate";
				reg = <0x1b8>;
				#clock-cells = <0>;
			};

			clk_sio: clock@1c0 {
				clock-output-names = "sio";
				compatible = "apple,t8103-clock-gate";
				reg = <0x1c0>;
				#clock-cells = <0>;
				clocks = <&clk24>;
			};

			clk_uart_p: clock@220 {
				clock-output-names = "uart_p";
				compatible = "apple,t8103-clock-gate";
				reg = <0x220>;
				#clock-cells = <0>;
				clocks = <&clk_sio>;
			};

			clk_uart0: clock@270 {
				clock-output-names = "uart0";
				compatible = "apple,t8103-clock-gate";
				reg = <0x270>;
				#clock-cells = <0>;
				clocks = <&clk_uart_p>;
			};

			clk_apcie: clock@348 {
				clock-output-names = "apcie";
				compatible = "apple,t8103-clock-gate";
				reg = <0x348>;
				#clock-cells = <0>;
				clocks = <&clk_imx>;
			};

			clk_ans: clock@3f0 {
				clock-output-names = "ans2";
				compatible = "apple,t8103-clock-gate";
				reg = <0x3f0>;
				#clock-cells = <0>;
			};

			clk_apcie_st: clock@418 {
				clock-output-names = "apcie_st";
				compatible = "apple,t8103-clock-gate";
				reg = <0x418>;
				#clock-cells = <0>;
				clocks = <&clk_apcie>;
			};
			
		};

		ans: mbox@277408000 {
			compatible = "apple,t8103-ans-mailbox",
				"apple,t8103-asc-mailbox";
			reg = <0x2 0x77408000 0x0 0x4000>;
			interrupt-parent = <&aic>;
			interrupts = <AIC_IRQ 583 IRQ_TYPE_LEVEL_HIGH>,
				<AIC_IRQ 584 IRQ_TYPE_LEVEL_HIGH>,
				<AIC_IRQ 585 IRQ_TYPE_LEVEL_HIGH>,
				<AIC_IRQ 586 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "send-empty", "send-not-empty",
				"recv-empty", "recv-not-empty";
			#mbox-cells = <0>;
			clocks = <&clk_ans>, <&clk_apcie_st>;
		};

		ans2_hdd: nvme@27bcc0000 {
			compatible = "apple,t8103-ans-nvme";
			reg = <0x2 0x7bcc0000 0x0 0x40000>, <0x2 0x77400000 0x0 0x4000>, <0x2 0x7bc50000 0x0 0x10000>;
			reg-names = "nvme", "coproc", "sart";
			interrupt-parent = <&aic>;
			interrupts = <AIC_IRQ 590 IRQ_TYPE_LEVEL_HIGH>;
			mboxes = <&ans>;
			mbox-names = "ans-mbox";
			clocks = <&clk_ans>, <&clk_apcie_st>;
		 };

		smc: mbox@23e408000 {
			compatible = "apple,t8103-smc-mailbox",
				"apple,t8103-asc-mailbox";
			reg = <0x2 0x3e408000 0x0 0x4000>;
			interrupt-parent = <&aic>;
			interrupts = <AIC_IRQ 400 IRQ_TYPE_LEVEL_HIGH>,
				<AIC_IRQ 401 IRQ_TYPE_LEVEL_HIGH>,
				<AIC_IRQ 402 IRQ_TYPE_LEVEL_HIGH>,
				<AIC_IRQ 403 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "send-empty", "send-not-empty",
				"recv-empty", "recv-not-empty";
			#mbox-cells = <0>;
		};

		smc_compat: mbox@23e400000 {
			compatible = "apple,t8103-compat-mailbox";
			reg-names = "coproc";
			reg = <0x2 0x3e400000 0x0 0x4000>;
			mboxes = <&smc>;
			mbox-names = "mbox";
			#mbox-cells = <1>;
		};
	};
};
